.button{
    background-color:grey;
    text-align:center;
    cursor:pointer;
    color:black;
    padding:5px;
}
.thisPageButton{
    background-color:lightgray;
    text-align:center;
    cursor:pointer;
    color:black;
    padding:5px;

}