.button{
    background-color:grey;
    text-align:center;
    cursor:pointer;
    color:black;
    padding:5px;
}
.thisPageButton{
    background-color:lightgray;
    text-align:center;
    cursor:pointer;
    color:black;
    padding:5px;

}
.body{

}
.logoImage{
    width:100%;
    padding-top:10%;
}
.textBody{
    padding-top:10%;
}
#navbar{
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid black;
    top: 0;
    z-index: 1;
}
img{
    padding-top:30px;
    width:100%;
}
body{
    margin:0;
}
